@charset "utf-8";


@font-face{
    font-family: 'titulo';
    src: url(../fontes\ e\ imagens/passion-one-projetoCordel/passionOne-Bold.ttf) format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'verso';
    src: url(../fontes\ e\ imagens/Sriracha-Regular.ttf) format('truetype');
    font-weight: normal;
}

body{
    margin: 0;
    position: relative;
}

header{
    background-color: black;
    height: 50vh;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: 'titulo',Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.normal{
    font-family: 'verso',Arial, Helvetica, sans-serif;
    font-size: 3.5vw;
    line-height: 2em;
    display: block;
    
    padding-top: 10vh;
    padding-left: 5vw;
}

#imagem1{
    background-image: url(../imagens/background001.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-position: right bottom;
    height: 100vh;
}

#paragrafo{
    margin: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    color: white;
    font-family: 'verso',Arial, Helvetica, sans-serif;
    position: absolute;
    background-position: top right;
    

    width: 43vw;
    height: 85vh;

    top: 5%;
    left: 4%;

    font-size:3.5vw;
    line-height: 14vh;

}

