@charset "utf-8";

@font-face{
    font-family: 'titulo';
    src: url(../fontes\ e\ imagens/passion-one-projetoCordel/passionOne-Bold.ttf) format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'verso';
    src: url(../fontes\ e\ imagens/Sriracha-Regular.ttf) format('truetype');
    font-weight: normal;
}

:root{
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2: 'passion one', cursive;
    --fonte3: 'sriracha', cursive;
}


*{
    margin: 0;
    padding: 0;
}

body,html{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);
    
}

header{
    padding-bottom: 50px;
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw ;
}

section>p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}


section#imagem01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#imagem02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}
section.imagem > p {
    color: white;
    background-color: rgba(0,0,0, 0.5);
    width: 400px;
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section.imagem {
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
}